
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Titulo = "Página inicial do Sistema";
    ViewBag.Subtitulo = "Selecione a ação desejada:";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

