
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Introdução ao Asp.Net MVC e JQuery (AJAX)</h3>
<p>Este é um pequeno projeto de ASPNET MVC utilizando AJAX</p>
<p>
    AJAX (Assyncronous JavaScript and XML)
    Consiste do uso de Javascript para realizar requisições para o servidor web da aplicação sem que todo o conteudo da pagina tenha que ser recarregado para que o resultado da requisição seja exibido.
    No inicio do advento do AJAX, o formato utilizado para enviar e receber dados do servidor era o XML. Hoje o melhor formato para trabalhar com AJAX é o JSON (JavaScript Object Notation)
</p>
<ul>
    <li>ASPNET MVC</li>
    <li>JQuery para requisições AJAX</li>
    <li>EntityFrameWork</li>
    <li>Bootstrap Admin SB Admin 2 <a href="http://startbootstrap.com/template-overviews/sb-admin-2/">http://startbootstrap.com/template-overviews/sb-admin-2/</a></li>
    <li>Dividido em 3 camadas:
        <ul>
            <li>Camada de Modelagem de Entidades</li>
            <li>Camada de Apresentação</li>
            <li>Camada de Acesso a Dados</li>
        </ul>
    </li>
    <li>Em breve mais atualizações....</li>
</ul>