<div id="janelaedicao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Editar dados do Cliente</h2>
                Para atualizar os dados do cliente, utilize os campos:
            </div>
            <div class="modal-body">

                <label>Código do Cliente:</label>
                <input type="text" id="txtcodigo" class="form-control" readonly="readonly"/>
                <br/>

                <label>Nome do Cliente:</label>
                <input type="text" id="txtnome" class="form-control"/>
                <br />

                <label>Email:</label>
                <input type="text" id="txtemail" class="form-control" />
                <br />

            </div>
            <div class="modal-footer">
                <button id="btnedicao" class="btn btn-primary" data-dismiss="modal">
                    Atualizar Dados
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>