<div id="janelaexclusao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Exclusão de Cliente</h2>
                Para excluir o cliente selecionado, confirme os dados:
            </div>
            <div class="modal-body">

                Código: <label id="codigo"></label>
                <br/>

                Nome do Cliente: <label id="nome"></label>
                <br/>

                Email: <label id="email"></label>
                <br />
            </div>
            <div class="modal-footer">

                <button id="btnexclusao" class="btn btn-danger" data-dismiss="modal">
                    Confirmar Exclusão
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>